body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    font-size: 1.5em;
    color: royalblue;
}